<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Music</title>
</head>
<body>
<center>

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.name}}
            {{ form.singer}}
            {{ form.tags}}
            {{ form.image}}
            {{ form.song}}
            {{ form.album}}
            {{ form.time }}

            <button type="submit" class="btn btn-success">Upload</button>
        </form>

</center>
</body>
</html>