<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'tyndama/css/styles.css' %}">
    <title>Add Playlist</title>
</head>
<body style="display: block">
<h1>Create a new playlist</h1>
<form method="post">
    {% csrf_token %}
    {{ form.name }}
    <div>
        <label>Select songs:</label>
        <table id="playlist" class="no-select">
            <thead>
            <th>#</th>
            <th></th>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th></th>
            <th>
                <img src="{% static 'tyndama/img/clock.svg' %}" alt="time">
            </th>
            </thead>
            <tbody>
            {% for music_item in music_items %}
                <tr>
                    <td>{{ music_item.song_id }}</td>
                    <td>
                        <div onload="save('{{ music_item.song }}', {{ music_item.song_id }}, '{{ music_item.name }}', '{{ music_item.singer }}', '{{ music_item.image }}')"
                             onclick="startPlay('{{ music_item.song }}', {{ music_item.song_id }}, '{{ music_item.name }}', '{{ music_item.singer }}', '{{ music_item.image }}' )"
                             class="inline-toggle-play pause" id="{{ music_item.song_id }}">
                            <span></span>
                            <span></span>
                        </div>
                    </td>
                    <td>{{ music_item.name }}</td>
                    <td>{{ music_item.singer }}</td>
                    <td>{{ music_item.album }}</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="songs"
                                   id="song_{{ music_item.song_id }}" value="{{ music_item.song_id }}">
                        </div>
                    </td>
                    <td>{{ music_item.time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <button type="submit" class="btn btn-primary">Create Playlist</button>
</form>
</body>
</html>