<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Music</title>
</head>
<body>
<center>
{% if submitted %}
    Wait for the permission from admin!
{% else %}
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.name }}
            {{ form.singer }}
            {{ form.tags }}
            {{ form.image }}
            {{ form.song }}
            {{ form.album }}
            <button type="submit" class="btn btn-success">Upload</button>
        </form>
{% endif %}
</center>
</body>
</html>