<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Music</title>
</head>
<body>
    <h1>This all music in your playlist</h1>
    {% for i in music %}
        <div style="padding-left: 2%;">
        <div class = "card" style="width: 18rem;">
            <img src="media/{{ i.image }}" alt="photo">
            <div class="card_body">
                <h5 class = "card_title">
                    {{ i.name }}
                </h5>
                <p class = "card_text">{{ i.tags}}</p>
                <audio controls style="padding-top: 3%;">
                    <source src="/media/{{ i.song }}"></source>
                </audio>
                <a href="#">Listen</a>
            </div>
        </div>
        </div>
    {% endfor %}
</body>
</html>