<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tyndama</title>
    <link rel="stylesheet" href="{% static 'tyndama/css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chivo:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&family=M+PLUS+1:wght@100;200;300;400;500;600;700;800&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="nav">
    <div class="info">
        <div class="profile-info">
            <div class="avatar" style="background-image: url('{% static 'tyndama/img/g9DlTPEgG_s.jpg' %}');"></div>
            <h4 class="name">Yerbolat</h4>
        </div>
        <div class="buttons">
            <a href="">
                <img src="{% static 'tyndama/img/profile.svg' %}" alt="">
                <span>Profile</span>
            </a>
            <a href="">
                <img src="{% static 'tyndama/img/logout.svg' %}" alt="">
                <span>Log Out</span>
            </a>
        </div>
    </div>
    <div class="playlists">
        <h4>Your Playlists</h4>
        <div class="playlist">
            <div class="img-wrapper" style="background-image: url('{% static 'tyndama/img/img.png' %}')"></div>
            <div class="playlist-info">
                <p class="title">All Songs</p>
                <p class="num-of-tracks">121 tracks</p>
            </div>
        </div>
        <div class="playlist">
            <div class="img-wrapper" style="background-image: url('{% static 'tyndama/img/PKQqPbaUp6s.jpg' %}')"></div>
            <div class="playlist-info">
                <p class="title">Playlist</p>
                <p class="num-of-tracks">121 tracks</p>
            </div>
        </div>
        <div class="playlist">
            <div class="img-wrapper" style="background-image: url('{% static 'tyndama/img/PKQqPbaUp6s.jpg' %}')"></div>
            <div class="playlist-info">
                <p class="title">Playlist</p>
                <p class="num-of-tracks">121 tracks</p>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="top-block">
        <div class="search">
            <form>
                <input type="search" class="search-input" placeholder="Search song name, artist"
                       aria-label="search vault">
                <i class="fas fa-search search-icon" aria-hidden="true"></i>
                <button type="submit" class="search-button">Search</button>
            </form>
        </div>
        <div class="curr-playlist">
            <div class="img-wrapper big"
                 style="background-image: url('{% static 'tyndama/img/PKQqPbaUp6s.jpg' %}')"></div>
            <div class="playlist-info mr">
                <p class="big-title">Playlist</p>
                <p class="big-num-of-tracks">121 tracks</p>
            </div>
        </div>
    </div>
    <div class="mid-block">
        <div class="wrapper-table">
            <table id="playlist" class="no-select">
                <thead>
                <th>#</th>
                <th></th>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>
                    <img src="{% static 'tyndama/img/clock.svg' %}" alt="time">
                </th>
                </thead>
                <tbody>
                {% for i in music %}
                    <tr>
                        <td>{{ i.song_id }}</td>
                        <td><img src="{% static 'tyndama/img/play.svg' %}" alt=""></td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.singer }}</td>
                        <td>{{ i.album }}</td>
                        <td>{{ i.time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="bottom-block">
        <div class="light"></div>
        <div class="player">
            <div class="album-image" style="background-image: url('{% static 'tyndama/img/img_1.png' %}')"></div>
            <div class="control-panel">
                <p class="player-title">
                    See You Again (Clean)
                </p>
                <p class="artist">
                    Tyler, The Creator/Kali Uchis
                </p>
                <div class="control">
                    <div class="btn btn-repeat">
                        <i class="fas fa-redo"></i>
                    </div>
                    <div class="btn btn-prev">
                        <i class="fas fa-step-backward"></i>
                    </div>
                    <div class="btn btn-toggle-play">
                        <i class="fas fa-pause icon-pause"></i>
                        <i class="fas fa-play icon-play"></i>
                    </div>
                    <div class="btn btn-next">
                        <i class="fas fa-step-forward"></i>
                    </div>
                    <div class="btn btn-random">
                        <i class="fas fa-random"></i>
                    </div>
                </div>
                <input id="progress" class="progress" type="range" value="0" step="1" min="0" max="100">
            </div>

        </div>
    </div>
</div>
</body>
</html>