<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tyndama</title>
    <link rel="stylesheet" href="{% static 'tyndama/css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chivo:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&family=M+PLUS+1:wght@100;200;300;400;500;600;700;800&display=swap"
          rel="stylesheet">
</head>
<body>
<audio src="" id="audio"></audio>
<div class="nav">
    <div class="info">
        <div class="profile-info">
            <div class="avatar" style="background-image: url('{% static 'tyndama/img/g9DlTPEgG_s.jpg' %}');"></div>
            <h4 class="name">{{ user.username }}</h4>
        </div>
        <div class="buttons">
            <a href="{% url 'home' %}">
                <img src="{% static 'tyndama/img/home.svg' %}" alt="">
                <span>Home</span>
            </a>
            <a href="">
                <img src="{% static 'tyndama/img/profile.svg' %}" alt="">
                <span>Profile</span>
            </a>
            <a href="">
                <img src="{% static 'tyndama/img/logout.svg' %}" alt="">
                <span>Log Out</span>
            </a>
        </div>
    </div>
    <div class="playlists">
        <h4>Your Playlists</h4>
        {% for i in playlist %}
            <a class="playlist" href="{% url 'playlist' playlist_id=i.id %}">
                <div class="img-wrapper"
                     style="background-image: url('{% static 'tyndama/img/playlist_wallpaper.png' %}')"></div>
                <div class="playlist-info">
                    <p class="title">{{ i.name }}</p>
                    <p class="num-of-tracks">{{ i.get_num_of_tracks }} tracks</p>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
<div class="content">
    <div class="top-block">
        <div class="search">
            <form>
                <input type="search" class="search-input" placeholder="Search song name, artist"
                       aria-label="search vault">
                <i class="fas fa-search search-icon" aria-hidden="true"></i>
                <button type="submit" class="search-button">Search</button>
            </form>
        </div>
        <div class="all-playlists">
            {% for item in playlist %}

                <a href="{% url 'playlist' playlist_id=item.id %}" class="all-playlists-item mr">
                    <div class="img-wrapper big"
                         style="background-image: url('{% static 'tyndama/img/PKQqPbaUp6s.jpg' %}')"></div>
                    <div class="playlist-info mr">
                        <p class="big-title">{{ item.name }}</p>
                        <p class="big-num-of-tracks">{{ item.get_num_of_tracks }} tracks</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="mid-block">
        <div class="wrapper-table">
            <table id="playlist" class="no-select">
                <thead>
                <th>#</th>
                <th></th>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th></th>
                <th>
                    <img src="{% static 'tyndama/img/clock.svg' %}" alt="time">
                </th>
                </thead>
                <tbody>
                {% for i in music %}
                    <tr>
                        <td>{{ i.song_id }}</td>
                        <td>
                            <div onload="save('{{ i.song }}', {{ i.song_id }}, '{{ i.name }}', '{{ i.singer }}', '{{ i.image }}')"
                                 onclick="startPlay('{{ i.song }}', {{ i.song_id }}, '{{ i.name }}', '{{ i.singer }}', '{{ i.image }}' )"
                                 class="inline-toggle-play pause" id="{{ i.song_id }}">
                                <span></span>
                                <span></span>
                            </div>
                        </td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.singer }}</td>
                        <td>{{ i.album }}</td>
                        <td>
                            <div class="expand" id="expand{{ i.song_id }}">
                                <ul>
                                    {% for p in playlist %}
                                        <li onclick="addToPlaylist('{{ i.song_id }}', '{{ p.id }}')">{{ p.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div id="expand-button" class="expand-button" onclick="pop_up('expand{{ i.song_id }}')">+</div>
                        </td>
                        <td>{{ i.time }}</td>
                    </tr>
                {% endfor %}
                {% for i in music %}
                    <div class="forCheat"></div>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <div class="bottom-block">
        <div class="light"></div>
        <div class="player">
            <div class="album-image"></div>
            <div class="control-panel">
                <p class="player-title" id="player-title">

                </p>
                <p class="artist">

                </p>
                <div class="control">
                    {#                    <div class="btn btn-repeat">#}
                    {#                        <i class="fas fa-redo"></i>#}
                    {#                    </div>#}
                    <div class="btn btn-prev">
                        <i class="fas fa-step-backward"></i>
                    </div>
                    <div class="btn btn-toggle-play pause">
                        <span></span>
                        <span></span>
                    </div>
                    <div class="btn btn-next">
                        <i class="fas fa-step-forward"></i>
                    </div>
                    {#                    <div class="btn btn-random">#}
                    {#                        <i class="fas fa-random"></i>#}
                    {#                    </div>#}
                </div>
                <div class="seek-bar">
                    <div class="times">
                        <div class="curr-time"></div>
                        <input id="progress" class="progress" type="range" value="0" step="1" min="0" max="100">
                        <div class="duration"></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
{% csrf_token %}
<script>
    let isPlaying = false;
    let currentMusic = 1;
    let currentSongPath = '';
    let firstClick = true;
    let currentTime = 0;
    const data = []

    const music = document.getElementById("audio");

    const seek_bar = document.querySelector('.progress');
    const album_img = document.querySelector('.album-image');
    const song_title = document.querySelector('.player-title');
    const song_artist = document.querySelector('.artist');
    const curr_time = document.querySelector('.curr-time');
    const duration = document.querySelector('.duration');
    const play_btn = document.querySelector('.btn-toggle-play');
    const forward_btn = document.querySelector('.btn-next');
    const previus_btn = document.querySelector('.btn-prev');

    function save(path, id, name, singer, image) {
        data.push({
            path: path,
            id: id,
            name: name,
            singer: singer,
            image: image
        });
        console.log(data);
    }

    {#setMusic(0);#}

    formatTime = (duration) => {
        let min = Math.floor(duration / 60);
        let sec = Math.floor(duration % 60);
        return `${min}:${sec}`;

    }

    function setMusic(song, id, title, artist, img) {
        seek_bar.value = 0;
        song_title.innerHTML = title;
        song_artist.innerHTML = artist;
        album_img.style.backgroundImage = `url('media/${img}')`;

        curr_time.innerHTML = '00:00'
        setTimeout(() => {
            seek_bar.max = music.duration;
            duration.innerHTML = formatTime(music.duration);
        }, 500);
    }

    function startPlay(song, id, title, artist, img) {
        if (firstClick) {
            firstClick = false;
            currentMusic = id;
            music.src = `/media/${song}`;
        }

        if (currentMusic !== id) {
            if (isPlaying) {
                isPlaying = !isPlaying;
                document.getElementById(currentMusic).classList.toggle('pause');
                play_btn.classList.toggle('pause');
                currentTime = 0;
            }
        }
        music.src = `/media/${song}`;

        console.log(currentTime);
        currentMusic = id;

        currentSongPath = `/media/${song}`;

        if (!isPlaying) {
            currentTime = music.currentTime;
            music.play();
        } else {
            music.currentTime = currentTime;

            music.pause();
        }
        isPlaying = !isPlaying;
        console.log(isPlaying);
        const curr_song = document.getElementById(id);
        curr_song.classList.toggle('pause');
        play_btn.classList.toggle('pause');
        setMusic(song, id, title, artist, img);
    }

    //seek bar
    setInterval(() => {
        currentTime = music.currentTime;
        seek_bar.value = music.currentTime;
        curr_time.innerHTML = formatTime(music.currentTime)
    })

    //changing time

    seek_bar.onchange = function (e) {
        const seekTime = (music.duration / 100) * e.target.value;
        music.currentTime = seekTime;
    };

    play_btn.onclick = function (e) {
        if (isPlaying) {
            music.pause();
        } else {
            music.play();
        }
        isPlaying = !isPlaying;
        console.log("Erbo mal")
        play_btn.classList.toggle("pause");
        document.getElementById(currentMusic).classList.toggle("pause");
    };

    forward_btn.onclick = function () {
        currentMusic++;

    }

    previus_btn.onclick = function () {
        currentMusic--;

    }

    function pop_up(id) {
        console.log('open')
        console.log(id)
        document.getElementById(id).classList.toggle('active');
        this.classList.toggle('rotate');
    }

    function addToPlaylist(songId, playlistId) {
        // Retrieve the CSRF token value
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        console.log(songId + " " + playlistId)
        // Create the POST request
        const request = new XMLHttpRequest();
        request.open('POST', '/add_to_playlist/');
        request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        request.setRequestHeader('X-CSRFToken', csrftoken);

        // Handle the response
        request.onload = function() {
            if (request.status === 200) {
                const response = JSON.parse(request.responseText);
                if (response.success) {
                    console.log('Song added to playlist successfully');
                } else {
                    console.log('Failed to add song to playlist:', response.error);
                }
            } else {
                console.log('Error:', request.statusText);
            }
        };

        // Send the request with the song_id and playlist_id as parameters
        const params = `song_id=${encodeURIComponent(songId)}&playlist_id=${encodeURIComponent(playlistId)}`;
        request.send(params);
        location.reload()
    }

    {##}
    {#setMusic(data[0].path, 1, data[0].name, data[0].artist, data[0].img);#}
</script>
</body>
</html>